.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ddd;
}
.link {
    margin: 16px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    height: 100px;
    width: 100px;
}